/* CSS shiznit */
{{ "/assets/style.css" | relative_url }}

/* center */
center
{
    display:inline-block;
    margin-left:auto;
    margint-right:auto;
}


/*Navigation Bar*/
.navbar
{
    overflow: hidden;
    font-family: Arial, Helvetica, Geneva, Swiss, sans-serif;
    background-color: black;
    position: fixed; /*This will keep navbar in a fixed position*/
    top: 0; /*Position navbar at top of page*/
    width: 100%; /*Full width of page*/
    z-index: 3;
}



/* Navbar Links */
.navbar a {
    float: left;
    display: block;
    font-family: Arial, Helvetica, Geneva, Swiss, sans-serif;
    color: #dfdfdf;
    text-align: left;
    padding: 20px 20px;
    text-decoration: none;
}


/* Change background on mouse-over */
.navbar a:hover
	      {
		  font-family: Arial, Helvetica, Geneva, Swiss, sans-serif;
		  background: #C8C8C8;
		  color: black;
	      }


/* main content */
.main {
    margin-top: 30px; /* add a top margin to avoid content overlay */
}






/*Sidebar*/
.sidenav {
    height: 100%;
    width: 260px;
    position: absolute;
    z-index: 1;
    padding-top: 200px;
    left: 10px;
    overflow-x:hidden;
    paddting-top: 20px;
}


.sidenav a {
    padding: 10px 10px 6px 16px;
    text-decoration: none;
    font-size: 2 pt;
    color: #D8D8D8;
    display: block;
}


/*Body Text Default Attributes*/
body
{
    background-image: url("https://danielxblack.github.io//imgs/bghawk.png");
    background-size: 350px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    font-family: Arial, Helvetica, Geneva, Swiss, sans-serif;
    color: #D8D8D8;

}


/*Header colors*/
h1 {
    color: A9A9A9;
}


h2 {
    color: yellow;
}

h3 {
    color: 888888;
}

h4 {
    color: yellow;
}


h5 {
    color: yellow;
}



/* Article text */
article
{
    margin-top: 200px;
    margin-left: 280px;
    width: 760px;
    max-width: 760px;
    display: inline-block;
    border-left: 1px solid grey;
    padding: 1em;
    text-align: justify;
    overflow: hidden;
}



/*Link colors*/
a:link {
    color: yellow; /*new links*/
}

a:visited {
    color: grey; /*visited links*/
}

a:hover {
    color: green; /* on mouse over*/
}

a:active {
    color: black; /*on clock*/
}


/* tables */

table
{
    font-family: Arial, Helvetica, Geneva, Swiss, sans-serif;
    width:70%;
}


table.center
{
    margin-left: auto;
    margin-right: auto;
}


td
{
    padding: 5px;
}


th.width
{
    width: 50px;
}





/*Footer */

footer
{
    position: absolute;
    left: 0:
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #c0c0c0;
    color: black;
    text-align: center;
}
