<!DOCTYPE html>
<html lang="en">

  <head>
  <link rel="stylesheet" type="text/css" href="../assets/style.css"/>

    <meta charset="utf-8"/>
    <title>Daniel Black's somewhat awesome site</title>

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
</script>
<![endif]-->

  </head>

<body>


  <!--Navigation bar and heading-->
  <div class="navbar">

    <h1>Tacos N' Security <font color="yellow">:credits:</font></h1>

    <nav>
<hr/>
       <a href="https://danielxblack.github.io/home.html"> Home </a>
       <a href="https://danielxblack.github.io/pages/about.html"> About Me </a>
       <a href="https://danielxblack.github.io/pages/blog/"> Blog </a>
       <a href="https://danielxblack.github.io/pages/resume.html"> Resum&eacute; </a>
       <a href="https://danielxblack.github.io/pages/links.html">Useful Links </a>
       <a href="https://danielxblack.github.io/pages/interests.html"> Other Interests </a>
       <a href="https://danielxblack.github.io/pages/credits.html"> Credits </a>
       <br/>
       <br/>
       <br/>


<hr/>

    </nav>
  </div>

  <!--Background Image-->



  <!--Body Text-->

<section>
  <article>
{{ page.title }}
  </article>

<!--Footer-->
<footer>
  This site is maintained by Daniel Black. Background illustration by Daniel Black. This site was created on a Raspberry Pi using Emacs.
  (<a href="/pages/retroweb.html">Rock it like it's 1998</a>)

</footer>
</body>
</html>
